In [365]:
import numpy as np
import pandas as pd
import math

In [366]:
df=pd.read_csv('ExtraCredit_KNNData.csv')
df

   ID  x  y Continue?
0   1  2  4       Yes
1   2  1  3       Yes
2   3  4  2        No
3   4  3  0        No
4   5  0  6       Yes
5   6  4  4       Yes
6   7  2  3       Yes
7   8  6  2        No
8   9  7  0        No
9  10  3  6       Yes

In [367]:
d={'No':0,'Yes':1}
df['Continue']=df['Continue?'].apply(lambda x:d[x])

In [368]:
xmean=df.x.mean()
ymean=df.y.mean()
print(xmean,ymean)
xstd=df.x.std()
ystd=df.y.std()
print(xstd,ystd)

3.2 3.0
2.14993539954628 2.1081851067789197

In [369]:
cols = list(df.columns)
cols.remove('ID')
cols.remove('Continue')
cols.remove('Continue?')
cols

['x', 'y']

In [370]:
for col in cols:
    col_zscore = col + '_zscore'
    df[col_zscore] = (df[col] - df[col].mean())/df[col].std()

In [371]:
df

   ID  x  y Continue?  Continue  x_zscore  y_zscore
0   1  2  4       Yes         1 -0.558156  0.474342
1   2  1  3       Yes         1 -1.023287  0.000000
2   3  4  2        No         0  0.372104 -0.474342
3   4  3  0        No         0 -0.093026 -1.423025
4   5  0  6       Yes         1 -1.488417  1.423025
5   6  4  4       Yes         1  0.372104  0.474342
6   7  2  3       Yes         1 -0.558156  0.000000
7   8  6  2        No         0  1.302365 -0.474342
8   9  7  0        No         0  1.767495 -1.423025
9  10  3  6       Yes         1 -0.093026  1.423025

In [372]:
def knn_mt(x,y,n):
    zero=0
    one=0
    zscore_x=(x-xmean)/xstd
    zscore_y=(y-ymean)/ystd
    for i in df:
        df['Manhattan Distance']= (np.abs(zscore_x-(df['x_zscore'])) + np.abs(zscore_y-(df['y_zscore']))) 
        new_df=df.sort_values(by=['Manhattan Distance'],ascending=False)
        new_df=new_df.head(n)
        #print(new_df)
        for i, row in new_df.iterrows():
            if(row['Continue']==0):
                zero+=1
            else:
                one+=1
    if(zero>one):
        print("By Manhattan taxi-cab distance method:"+"This point is likely a No")
    elif(zero<one):
        print("By Manhattan taxi-cab distance method:"+"This point is likely a Yes")
    else:
        print("By Manhattan taxi-cab distance method:"+"Tie!! Cannot decide") 

def knn_MAX(x,y,n):
    zero=0
    one=0
    zscore_x=(x-xmean)/xstd
    zscore_y=(y-ymean)/ystd
    for i in df:
        df['Maximum Distance']= np.maximum(np.abs(zscore_x-(df['x_zscore'])) , np.abs(zscore_y-(df['y_zscore']))) 
        new_df_max=df.sort_values(by=['Maximum Distance'],ascending=False)
        new_df_max=new_df_max.head(n)
        #print(new_df_max)
        for i, row in new_df_max.iterrows():
            if(row['Continue']==0):
                zero+=1
            else:
                one+=1
    if(zero>one):
        print("By Maximum method:"+"This point is likely a No")
    elif(zero<one):
        print("By Maximum distance method:"+"This point is likely a Yes")
    else:
        print("By Maximum distance method:"+"Tie!! Cannot decide") 
    
def knn(x,y,n):
    knn_mt(x,y,n)
    knn_MAX(x,y,n)
    
# ------------------------------------------ INPUT PARAMETERS BELOW ----------------------------------------------------    


# Enter x, y and no of neighbours  


knn(1,2,4)

By Manhattan taxi-cab distance method:This point is likely a Yes
By Maximum distance method:Tie!! Cannot decide